* {
    box-sizing: border-box;
}

html , body {
    margin: 0;
    padding: 0;

    font-family: "Source Sans 3", sans-serif;
}

a {
    text-decoration: none;
    color: #090909;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1 , h2 , p {
    margin: 0;
}

time {
    font-weight: 400;
}


/* header */

.logo {
    width: 24px;
    height: 24px;
}

nav , nav a , .nav-links {
    display: flex;
    align-items: center;
}

nav {
    justify-content: space-between;
    padding: 1.25em;
}

.nav-links {
    list-style: none;
    gap: 2em;
}

nav a {
    gap: 0.5em;
}

nav span {
    font-family: "Roboto", sans-serif;
    font-size: 0.9rem;
    font-weight: 700;
    color: #0E0E0E;
}

nav li {
    font-size: 0.8rem;
    font-weight: 600;
    text-transform: uppercase;
}


/* Hero section */

.hero-section {
    position: relative;
}

.hero-img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    display: block;
    transform: scaleX(-1);
}

.hero-card {
    position: absolute;
    left: 1.25em;
    right: 1.25em;
    bottom: 1.25em;
    color: #FFFFFF;
    text-shadow: 2px 2px 4px #000000;
}


.hero-card time {
    font-size: 0.7rem;
}


/* Blog Section */

.blog-section {
    display: grid;
    grid-template-columns: 1fr;
}

.blog-container {
    padding: 2em 1.5em;
}

.blog-img {
    width: 100%;
    object-fit: cover;
    border-radius: 3px;
    display: block;
}

.blog-container time {
    display: inline-block;
    font-size: 0.875rem;
    margin-top: 1.25em;
}

.blog-container h2 {
    margin-top: 0.3em;
}

.blog-container p {
    margin-top: 0.5em;
    color: #505050;
}




@media (min-width : 480px) {

    body {
        max-width: 1085px;
        margin: 0 auto;
    }
    /* header*/

    nav {
        padding: 1.875em;
    }

    .logo {
        width: 34px;
        height: 34px;
    }
    nav span {
        font-size: 1.25rem;
    }
    nav li {
        font-size: 1rem;
    }

    /* hero section */

    .hero-img {
        height: 488px;
    }
    .hero-card {
        left: 4em;
        bottom: 4.5em;
        max-width: 700px;
    }
    .hero-card time {
        font-size: 1rem;
    }
    .hero-card h1 {
        font-size: 2.5rem;
    }


    /* Blog */

    .blog-section {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .blog-container time {
        font-size: 1.125rem;
    }
    .blog-container h2 {
        font-size: 1.7rem;
    }
}